DB_HOST=localhost
DB_PORT=3306
DB_NAME=datacl
DB_USER=datacl_user
DB_PASSWORD=datacl123
SECRET_KEY=datacl_secret_key_2026

# este es el de ejemplo, ustedes deben tener su propio .env, pero no hay que subirlo a github
# por eso, cuando tengan este, saquénle el "example" y dejen solo ".env".