.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.logo--clickeable {
  cursor: pointer;
}

.parent {
  display: flex;
  justify-content: space-between; 
}
 
/* Tamaños */
.logo--sm .logo__imagen { height: 90px; }
.logo--md .logo__imagen { height: 172px; }
.logo--lg .logo__imagen { height: 280px; }
 
.logo--sm .logo__imagen { height: 70px; }
 
/* En fondos oscuros se ve normal,
   en fondos claros se puede ajustar brillo si hace falta */
.logo--light .logo__imagen {
  filter: none; /* lo vuelve blanco */
}
 